<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>JS Bin</title>

  <!-- Required Stylesheets -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="./asset/css/test.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
    integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <!-- Load polyfills to support older browsers -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</head>

<body>

  <div id="app2">

    <div v-for="(div, index) in inputs">
      <div class="form-builder-preview pull-right card-shadow">
        <div class="edit-form"></div>
        <div class="ui-sortable vertical-container">
          <div class="item  ">
            <div class="clearfix" id="C441BC33-C866-4654-8FF2-322290850CF9" draggable="true">
              <div class="item-question showhim">
                <div class="toolbar-header showme">
                  <div class="toolbar-header-buttons">
                    <div class="btn is-isolated btn-school hint--bottom" aria-label="Duplicate"><i
                        class="fas fa-copy"></i>
                    </div>
                    <div class="btn is-isolated btn-school hint--bottom logic-active" aria-label="Logical Jump"></div>
                    <div class="btn is-isolated btn-school hint--bottom" aria-label="Edit"><i class="fas fa-pen"></i>
                    </div>
                    <div class="btn is-isolated btn-school arrow-btn hint--bottom" aria-label="Drag to Move"><i
                        class="fas fa-expand-arrows-alt"></i></div>
                    <div class="btn is-isolated btn-school hint--bottom" aria-label="Delete"><i
                        class="fas fa-trash-alt"></i>
                    </div>
                  </div>
                </div> <i class="fas fa-tachometer-alt"></i> <label class="static">How
                  likely do you
                  recommend us to a friend or colleague?</label>
              </div>

             
            </div>
          </div>
         
        </div>
        <div id="END"></div>
      </div>
    </div>

    <div v-for="(div, index) in texts">
        <div class="form-builder-preview pull-right card-shadow">
          <div class="edit-form"></div>
          <div class="ui-sortable vertical-container">
            <div class="item  ">
              <div class="clearfix" id="C441BC33-C866-4654-8FF2-322290850CF9" draggable="true">
                <div class="item-question showhim">
                  <div class="toolbar-header showme">
                    <div class="toolbar-header-buttons">
                      <div class="btn is-isolated btn-school hint--bottom" aria-label="Duplicate"><i
                          class="fas fa-copy"></i>
                      </div>
                      <div class="btn is-isolated btn-school hint--bottom logic-active" aria-label="Logical Jump"></div>
                      <div class="btn is-isolated btn-school hint--bottom" aria-label="Edit"><i class="fas fa-pen"></i>
                      </div>
                      <div class="btn is-isolated btn-school arrow-btn hint--bottom" aria-label="Drag to Move"><i
                          class="fas fa-expand-arrows-alt"></i></div>
                      <div class="btn is-isolated btn-school hint--bottom" aria-label="Delete"><i
                          class="fas fa-trash-alt"></i>
                      </div>
                    </div>
                  </div> <i class="fas fa-tachometer-alt"></i> <label class="static">How
                    likely do you
                    </label>
                </div>
  
               
              </div>
            </div>
           
          </div>
          <div id="END"></div>
        </div>
      </div>

    <button @click="addRow">Add row</button>

  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.3/vue.js"></script>

  <script>
    const app = new Vue({

      el: '#app2',

      data: {
        inputs: [],
        texts:[]
      },

      methods: {
        addRow() {
          this.inputs.push({
          })
          this.texts.push({


})
        },
       
      }

    })
  </script>
</body>

</html>